.fancy {
  color: #478DD6;
}

.handle {
    font-style: italic;
}

.post__footer {
    a {
        text-decoration: none;
        &:visited {
            color: #9b9b9b;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}

img[src$='#logo'] {
    width: initial;
}

img[src$='#project-icon'] {
    width: 75px;
    display: inline-block;
    padding-right: 7px;
    vertical-align: middle;
}

.post {
    .technologies {
        color: gray;
        p {
            display: inline-block;
            padding-right: 5px;
        }
        img {
            display: inline-block;
            width: initial;
            vertical-align: middle;
            padding-right: 10px;
            max-width: 100px;
        }
    }

}
