header p {
  font-size: 18px;
}
header a {
  color: blue;
}

nav.navbar.navbar-default.top-header {
  background-color: #478DD6;
  color: white;
}
nav.navbar.navbar-default.top-header .container {
  width: 100%;
}
nav.navbar.navbar-default.top-header h1 {
  font-size: 32px;
  font-weight: lighter;
  letter-spacing: 3.0px;
  margin-top: 10px;
  float: left;
}
nav.navbar.navbar-default.top-header h1 a {
  color: white;
}
nav.navbar.navbar-default.top-header h1 a:hover {
  color: black;
  text-decoration: none;
}
nav.navbar.navbar-default.top-header ul.left-nav {
  float: right;
}
nav.navbar.navbar-default.top-header ul.left-nav li {
  display: inline-block;
  padding: 0 6px;
  margin-top: 12px;
}
nav.navbar.navbar-default.top-header ul.left-nav li img {
  width: 40px;
}
