header p {
  font-size: 18px;
}
header a {
  color: blue;
}

nav.navbar.navbar-default.top-header {
  background-color: #478dd6;
  color: white;
}
nav.navbar.navbar-default.top-header .container {
  width: 100%;
}
nav.navbar.navbar-default.top-header h1 {
  font-size: 32px;
  font-weight: lighter;
  letter-spacing: 3.0px;
  margin-top: 10px;
  display: inline-block;
}
@media only screen and (max-width: 485px) {
  nav.navbar.navbar-default.top-header h1 {
    font-size: 20px;
  }
}
nav.navbar.navbar-default.top-header h1 a {
  color: white;
}
nav.navbar.navbar-default.top-header h1 a:hover {
  text-decoration: none;
  color: #bbc7d3;
}
nav.navbar.navbar-default.top-header ul.left-nav {
  float: right;
}
nav.navbar.navbar-default.top-header ul.left-nav li {
  display: inline-block;
  padding: 0 6px;
  margin-top: 12px;
}
nav.navbar.navbar-default.top-header ul.left-nav li.mobile {
  display: none;
}
@media only screen and (max-width: 485px) {
  nav.navbar.navbar-default.top-header ul.left-nav li {
    display: none;
  }
  nav.navbar.navbar-default.top-header ul.left-nav li.mobile {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  nav.navbar.navbar-default.top-header ul.left-nav li.mobile a {
    position: relative;
    top: 5px;
  }
  nav.navbar.navbar-default.top-header ul.left-nav li.mobile img {
    width: 50px;
  }
  nav.navbar.navbar-default.top-header ul.left-nav li.mobile img.circle {
    border-radius: 40px;
  }
}
nav.navbar.navbar-default.top-header ul.left-nav li img {
  width: 40px;
}

.nav-toggle {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
  float: left;
  top: 10px;
}

.nav-toggle:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: lightblue;
  box-shadow: 0 0.25em 0 0 lightblue, 0 0.5em 0 0 lightblue;
}

.container .nav-collapse.mobile-nav {
  top: 8px;
  left: -25px;
  display: none;
  margin-bottom: 0;
}
.container .nav-collapse.mobile-nav li a {
  color: white;
}
@media only screen and (max-width: 640px) {
  .container .nav-collapse.mobile-nav {
    display: block;
  }
}
