ul {
  list-style-type: none;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 485px) {
  .mobile {
    display: block;
  }
}
main {
  padding-top: 260px;
}
@media only screen and (max-width: 485px) {
  main {
    padding-top: 0px;
  }
}
@media only screen and (min-width: 913px) {
  main {
    width: 980px;
    margin: 0 auto;
  }
}
main h1 {
  font-size: 24px;
  text-align: center;
  padding-top: 25px;
}
main h2 {
  font-size: 18px;
}
main h2.projects {
  margin-bottom: 5px;
}
main .title {
  padding-left: 52px;
}
main .title.mobile {
  padding-top: 25px;
}
main .title h1 {
  text-align: left;
}
main .no-link-color {
  color: black;
}
main .no-link-color:hover {
  text-decoration: none;
}
main .complete {
  text-decoration: line-through;
}
main .no-hover-color:hover {
  text-decoration: none;
}
main .intro-blurb {
  font-size: 14px;
  padding-left: 18px;
}
main ul.overview-bar {
  display: none;
  background-color: black;
  width: 865px;
  height: 40px;
  margin: 0 auto;
  color: white;
}
@media only screen and (min-width: 913px) {
  main ul.overview-bar {
    display: block;
  }
}
main ul.overview-bar li {
  display: inline-block;
  padding-right: 125px;
  padding-left: 50px;
  width: 10%;
  padding-top: 8px;
  white-space: nowrap;
}
main ul.overview-bar li.active a {
  color: #478DD6;
}
main ul.overview-bar li a {
  color: white;
}
main ul.overview-bar li a:hover {
  color: antiquewhite;
  text-decoration: none;
}
main ul.overview-bar li:first-child {
  margin-left: -50px;
}
main ul.overview-bar li:last-child {
  padding-right: 0px;
}
main .technologies img {
  padding-right: 10px;
}
main .feature-image {
  display: block;
  padding: 10px 0;
}
main .activities .api-integrations .icon {
  cursor: pointer;
}
main .activities .api-integrations .icon--circle {
  width: 35px;
  padding-top: 7px;
  border-radius: 10px;
}
main .activities, main .dashboard {
  margin: 0 auto;
  width: 100%;
  padding-top: 20px;
  display: inline-block;
  position: relative;
  padding-bottom: 50px;
}
main .activities.activities--intro, main .dashboard.activities--intro {
  padding-bottom: 20px;
}
main .activities .icon, main .dashboard .icon {
  width: 65px;
  padding-top: 7px;
}
main .activities .icon--reduced, main .dashboard .icon--reduced {
  width: 25px;
}
main .activities .icon--left-small, main .dashboard .icon--left-small {
  width: 45px;
  left: 10px;
}
main .activities .icon--circle, main .dashboard .icon--circle {
  padding: 0;
  border-radius: 25px;
}
main .activities li, main .dashboard li {
  clear: both;
  padding-top: 20px;
  display: block;
}
main .activities .timestamp, main .dashboard .timestamp {
  position: relative;
  color: grey;
  font-size: 11px;
}
main .activities .lastfm, main .dashboard .lastfm {
  bottom: 5px;
}
main .activities .lastfm .unknown-album, main .dashboard .lastfm .unknown-album {
  width: 54px;
}
main .activities .lastfm .live, main .dashboard .lastfm .live {
  position: absolute;
  width: 13px;
  left: -140px;
  top: 20px;
}
main .activities .lastfm .album-container, main .dashboard .lastfm .album-container {
  display: inline-block;
}
main .activities .lastfm .info, main .dashboard .lastfm .info {
  display: inline-block;
  padding-top: 6px;
  left: 10px;
  position: relative;
}
@media only screen and (max-width: 485px) {
  main .activities .spotify, main .dashboard .spotify {
    display: block;
    padding-bottom: 60px;
  }
}
main .activities .github .small, main .dashboard .github .small {
  width: 15px;
}
main .activities .github .commits, main .dashboard .github .commits {
  clear: float;
}
main .activities .foursquare, main .dashboard .foursquare {
  padding-left: 31px;
}
main .activities .foursquare .left-icon, main .dashboard .foursquare .left-icon {
  display: inline-block;
  background-color: #C4C3BC;
  border-radius: 25px;
}
main .activities .foursquare .venue, main .dashboard .foursquare .venue {
  width: 25px;
}

/*# sourceMappingURL=main.css.map */
