{% extends "layout.html" %}

{% block content %}
	<div class="mobile title">
		<h1>Activities</h1>
	</div>

	<ul class="activities activities--intro cols-xs-12 .col-md-10">
		<h2 class="intro-blurb">A feed of my most recent activities, ordered by time. Integrated API's:</h2>
		<div class="api-integrations">
			<img class="icon col-xs-6 .col-md-4" src="{{ url_for('static', filename='img/lastfm.png') }}">
			<img class="icon col-xs-6 .col-md-4" src="{{ url_for('static', filename='img/spotify.png') }}">
			<img class="icon col-xs-6 .col-md-4" src="{{ url_for('static', filename='img/github.png') }}">
			<img class="icon icon--circle icon--left-small col-xs-6 .col-md-4" src="{{ url_for('static', filename='img/foursquare.png') }}">
			<!--Pocket-->
			<!--Fitbit most recent excercise-->
		</div>
	</ul>

	<ul class="activities cols-xs-12 .col-md-10">
		{% if nowPlaying %}
			<li>
				<a href="{{ nowPlaying.url }}" target="_blank">
					<img class="icon col-xs-6 .col-md-4" src="{{ url_for('static', filename='img/lastfm.png') }}">
				</a>
				{% if nowPlaying.spotify %}
				<a class="spotify" href="{{nowPlaying.spotify}}" target="_blank">
					<img class="icon col-xs-6 .col-md-4" src="{{ url_for('static', filename='img/spotify.png') }}">
				</a>
				{% endif %}
				<div class="info col-xs-8 .col-md-6 lastfm">
					<img class="live" src="{{ url_for('static', filename='img/listening.png') }}">
					<div class="album-container">
					{% for img in nowPlaying.image %}
						{% if img.size == "medium" %}
							{% if img["#text"] != "" %}
								<img class="album" src="{{ img['#text'] }}">
							{% else %}
								<img class="unknown-album" src="{{ url_for('static', filename='img/album.png') }}">
							{% endif %}
						{% endif %}
					{% endfor %}
					</div>
					<div class="info">
						<span class="track artist" data-artist="{{ nowPlaying["artist"]["#text"] }}" data-track="{{ nowPlaying.name }}">{{ nowPlaying["artist"]["#text"] }} - {{ nowPlaying.name }}</span>
						{% if nowPlaying.album["#text"] %}
							<span class="album"><br> {{ nowPlaying.album["#text"] }}</span>
						{% endif %}
					</div>
				</div>
			</li>
		{% endif %}

		{% for activity in activities %}
			{% if activity._type == "lastfm" and activity["@attr"] is not defined %}
			<li>
				<a href="{{ activity.url }}" target="_blank">
					<img class="icon col-xs-6 .col-md-4" src="{{ url_for('static', filename='img/lastfm.png') }}">
				</a>
				{% if activity.spotify %}
				<a class="spotify" href="{{activity.spotify}}" target="_blank">
					<img class="icon col-xs-6 .col-md-4" src="{{ url_for('static', filename='img/spotify.png') }}">
				</a>
				{% endif %}
				<div class="info col-xs-8 .col-md-6 lastfm">
					<div class="album-container">
					{% for img in activity.image %}
						{% if img.size == "medium" %}
							{% if img["#text"] != "" %}
								<img class="album" src="{{ img['#text'] }}">
							{% else %}
								<img class="unknown-album" src="{{ url_for('static', filename='img/album.png') }}">
							{% endif %}
						{% endif %}
					{% endfor %}
					</div>
					<div class="info">
						<span class="track artist" data-artist="{{ activity["artist"]["#text"] }}" data-track="{{ activity.name }}">{{ activity["artist"]["#text"] }} - {{ activity.name }}</span>
						{% if activity.album["#text"] %}
							<span class="album"><br> {{ activity.album["#text"] }}</span>
						{% endif %}
						<span class="timestamp"> {{ activity.elapsed }}</span>
					</div>
				</div>
			</li>
			{% endif %}

			{% if activity._type == "github" %}
				{% if activity.type == "PushEvent" %}
				<li>
					<img class="icon col-xs-6 .col-md-4" src="{{ url_for('static', filename='img/github.png') }}">
					<div class="info col-xs-8 .col-md-6 github">
						<a href="{{ activity.actor.url|replace("api.","")|replace("users/","") }}" target="_blank">
							{{ activity.actor.login }}
						</a>
						pushed to {{ activity.payload.ref|replace("refs/heads/","") }} at
						<a href="{{ activity.repo.url|replace("api.","")|replace("repos/","") }}" target="_blank">
							{{ activity.repo.name }}
						</a>
						<div class="commits">
							{% for commit in activity.payload.commits %}
							<div class="individual">
								{% if activity.org %}
									<img class="small" src="{{ activity.org.avatar_url }}">
								{% else %}
									<img class="small" src="{{ activity.actor.avatar_url }}">
								{% endif %}
								<a href="{{ commit.url|replace("api.","")|replace("repos","") }}" target="_blank">{{ commit.sha|truncate(7, true,"") }}</a>
								{{ commit.message }}
							</div>
							{% endfor %}
						</div>
						<span class="timestamp"> {{ activity.time_string }}</span>
					</div>
				</li>
				{% endif %}
			{% endif %}

			{% if activity._type == "foursquare" %}
			<li>
			<img class="icon icon--circle icon--left-small col-xs-6 .col-md-4" src="{{ url_for('static', filename='img/foursquare.png') }}">
			<div class="info col-xs-8 .col-md-6 foursquare">
				{% for cat in activity.venue.categories %}
				<div class="left-icon bg-grey">
					{% if loop.index == 1 %}
					<img class="venue" src="{{ cat.icon.prefix }}64{{ cat.icon.suffix }}">
					{% endif %}
				</div>
				{% endfor %}
				{% if activity.isMayor %}
					<img class="icon--reduced" src="{{ url_for('static', filename='img/mayor.png') }}">
				{% endif %}

				{{ activity.type|capitalize }} @
				{% if activity.venue.url %}<a href="{{ activity.venue.url }}">{% endif %}
					{{ activity.venue.name }}
				{% if activity.venue.url %}</a>{% endif %}
				{% if activity.shout %}
					<br/>"{{ activity.shout }}"
				{% endif %}
			</div>
			<li>
			{% endif %}
		{% endfor %}
	</ul>
{% endblock %}
