{% extends "layout.html" %}

{% block content %}
	<div class="container cols-xs-12 .col-md-10">
		<ul class="activities cols-xs-12 .col-md-10"
			<li>
				<h2 class="projects">Workout Tracker</h2>
				<a class="no-hover-color" href="https://github.com/khaliqgant/workout-tracker">Github | </a>
				<a href="/apps/workout-tracker">App</a>
				<p class="no-link-color">User predefined JSON Schemas to track my workout progress</p>
			</li>
			<li>
				<h2 class="projects">Journal</h2>
				<a class="no-hover-color" href="https://github.com/khaliqgant/journal">Github</a>
				<p class="no-link-color">
					Index personal data into Elasticsearch to generate a dynamic personal journal
				</p>
			</li>
		</ul>
	</div>
{% endblock %}

