<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" itemscope itemtype="http://schema.org/WebPage"> <!--<![endif]-->
	<head>
		<title>Khaliq Gant Personal Citi Bike Info</title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>

	<body>
		<ul>
			{% if citi.home_east %}
				<li>5th: {{ citi.home_east }}</li>
			{% endif %}
			{% if citi.home_west %}
				<li>Broadway: {{ citi.home_west }}</li>
			{% endif %}
			<li>School Return: {{ citi.school_return }}</li>
		</ul>
	</body>

</html>

