<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<h1>khaliqgant.com</h1>
	</div>
</nav>
<header>
	<h1>khaliqgant.com</h1>
	<p>
	Thanks for visiting. You can find me on the web here:
	</p>
	<ul>
		<li><a href="http://github.com/khaliqgant" target="_blank">Github</a></li>
		<li><a href="https://twitter.com/khaliqgant" target="_blank">Twitter</a></li>
		<li><a href="http://www.linkedin.com/in/khaliqgant" target="_blank">LinkedIn</a></li>
		<li><a href="http://blog.khaliqgant.com" target="_blank">Blog</a></li>
	</ul>
</header>
