<nav class="navbar navbar-default navbar-fixed-top top-header">
	<div class="container">
		<ul class="js-mobile-nav mobile-nav">
			<li><a href="https://www.last.fm/user/khaliqgant" target="_blank">Last.fm</a></li>
			<li><a href="https://foursquare.com/khaliqgant/lists/created" target="_blank">Lists</a></li>
			<li{% if request.endpoint == "music" %} class="active"{% endif %}><a href="https://open.spotify.com/user/12378519/playlist/6KGPUOEqz4uirNH3MILuB8" target="_blank">KDW &#128293;</a></li>
			<li{% if request.endpoint == "writing" %} class="active"{% endif %}><a href="http://blog.khaliqgant.com/" target="_blank">Writing</a></li>
			<li{% if request.endpoint == "projects" %} class="active"{% endif %}><a href="/projects">Projects</a></li>
		</ul>
		<h1 id="js-head"><a href="/">khaliqgant.com</a></h1>
		<ul class="left-nav">
			<li>
				<a target="_blank" href="http://github.com/khaliqgant">
					<img src="{{ url_for('static', filename='img/github.png') }}">
				</a>
			</li>
			<li>
				<a target="_blank" href="https://twitter.com/khaliqgant">
					<img src="{{ url_for('static', filename='img/twitter.png') }}">
				</a>
			</li>
			<li>
				<a target="_blank" href="http://www.linkedin.com/in/khaliqgant">
					<img src="{{ url_for('static', filename='img/linkedin.png') }}">
				</a>
			</li>
			<li class="mobile">
				<a target="_blank" href="http://github.com/khaliqgant">
					<img class="circle" src="{{ url_for('static', filename='img/kjg.jpg') }}">
				</a>
			</li>
		</ul>
	</div>
</nav>
