<nav class="navbar navbar-default navbar-fixed-top top-header">
	<div class="container">
		<h1><a href="/">khaliqgant.com</a></h1>
		<ul class="left-nav">
			<li>
				<a href="http://github.com/khaliqgant">
					<img src="{{ url_for('static', filename='img/github.png') }}">
				</a>
			</li>
			<li>
				<a href="https://twitter.com/khaliqgant">
					<img src="{{ url_for('static', filename='img/twitter.png') }}">
				</a>
			</li>
			<li>
				<a href="http://www.linkedin.com/in/khaliqgant">
					<img src="{{ url_for('static', filename='img/linkedin.png') }}">
				</a>
			</li>
		</ul>
	</div>
</nav>
