{% extends "layout.html" %}

{% block content %}
	<div class="mobile title">
		<h1>Current Status</h1>
	</div>

	<ul class="dashboard cols-xs-12 .col-md-10">
		<li>
			<div class="info">
				<h2>&#x1F30D; Paris, France</h2>
			</div>
			<div class="info">
				<h2>&#128084;<a href="https://happycog.com" target="_blank"> Happy Cog</a></h2>
			</div>
			<div class="info">
				<h2>&#9874;<a href="https://www.laidbackvj.com" target="_blank"> Laid Back VJ</a></h2>
			</div>
		</li>
	</ul>
{% endblock %}
