<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" itemscope itemtype="http://schema.org/WebPage"> <!--<![endif]-->
	<head>
		<title>Khaliq Gant</title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="description" content="Personal website for Khaliq Gant: Music, Sports, Tech. Always learning. Enjoy making things on the web" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/gridlex.min.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/kjg.css') }}">
	</head>

	<body>
		<header class="bg-image" style="background-image: url({% block header_image %}{% endblock %})">
		<div class="grid navbar navbar-default navbar-fixed-top">
			<div class="col-6_md-4">
				<h1 class="logo"><a href="/">khaliq gant</a></h1>
			</div>
			<nav class="nav-collapse col-6_md-12_sm-12">
				<a href="/">Home</a>
				<a href="{% if self.absolute() %}/#about{% else %}#about{% endif %}">About</a>
				<a href="{% if self.absolute() %}/#portfolio{% else %}#portfolio{% endif %}">Portfolio</a>
				<a href="http://blog.khaliqgant.com/" target="_blank">Blog</a>
				<a href="{% if self.absolute() %}/#work-with-me{% else %}#work-with-me{% endif %}">Work with me</a>
			</nav>
		</div>
	</header>

		{% block content %}{% endblock %}
		{% include "footer.html" %}
	</body>

</html>
