<main>
	<ul class="overview-bar">
		<li><a href="http://www.columbia.edu/~kjg2150/" target="_blank">Portfolio</a></li>
		<li>Music</li>
		<li>Writing</li>
		<li>Projects</li>
	</ul>

	<div class="mobile title">
		<h1>Activities</h1>
	</div>

	<ul class="activities cols-xs-12 .col-md-10">
		{% for activity in all %}
			{% if activity["@attr"] %}
			<li>
				<img class="icon col-xs-6 .col-md-4" src="{{ url_for('static', filename='img/lastfm.png') }}">
				<div class="info col-xs-8 .col-md-6 lastfm">
					<img class="live" src="{{ url_for('static', filename='img/listening.png') }}">
					<a class="album-container" href="{{ activity.url }}" target="_blank">
					{% for img in activity.image %}
						{% if img.size == "medium" %}
							{% if img["#text"] != "" %}
								<img class="album" src="{{ img['#text'] }}">
							{% else %}
								<img class="unknown-album" src="{{ url_for('static', filename='img/album.png') }}">
							{% endif %}
						{% endif %}
					{% endfor %}
					</a>
					<div class="info">
						<span class="track artist" data-artist="{{ activity["artist"]["#text"] }}" data-track="{{ activity.name }}">{{ activity["artist"]["#text"] }} - {{ activity.name }}</span>
						{% if activity.album["#text"] %}
							<span class="album"><br> {{ activity.album["#text"] }}</span>
						{% endif %}
					</div>
				</div>
			</li>
			{% endif %}

			{% if activity.type == "lastfm" and activity["@attr"] != 'True' %}
			<li>
				<img class="icon col-xs-6 .col-md-4" src="{{ url_for('static', filename='img/lastfm.png') }}">
				<div class="info col-xs-8 .col-md-6 lastfm">
					<a class="album-container" href="{{ activity.url }}" target="_blank">
					{% for img in activity.image %}
						{% if img.size == "medium" %}
							{% if img["#text"] != "" %}
								<img class="album" src="{{ img['#text'] }}">
							{% else %}
								<img class="unknown-album" src="{{ url_for('static', filename='img/album.png') }}">
							{% endif %}
						{% endif %}
					{% endfor %}
					</a>
					<div class="info">
						<span class="track artist" data-artist="{{ activity["artist"]["#text"] }}" data-track="{{ activity.name }}">{{ activity["artist"]["#text"] }} - {{ activity.name }}</span>
						{% if activity.album["#text"] %}
							<span class="album"><br> {{ activity.album["#text"] }}</span>
						{% endif %}
					</div>
				</div>
			</li>
			{% endif %}
			
			{% if activity.type == "foursquare" %}
				<li>
					{{ activity.venue.name }}
				</li>
			{% endif %}

			{% if activity.type == "github" %}
				<li>
					{{ activity.payload.action }}
				</li>
			{% endif %}
		{% endfor %}


	</ul>
</main>
