<main>
	<ul class="overview-bar">
		<li><a href="http://www.columbia.edu/~kjg2150/" target="_blank">Portfolio</a></li>
		<li>Music</li>
		<li>Writing</li>
		<li>Projects</li>
	</ul>

	<div class="mobile title">
		<h1>Activities</h1>
	</div>

	<ul class="activities cols-xs-12 .col-md-10">
		{% if nowPlaying %}
			<li>
				<img class="icon col-xs-6 .col-md-4" src="{{ url_for('static', filename='img/lastfm.png') }}">
				<div class="info col-xs-8 .col-md-6 lastfm">
					<img class="live" src="{{ url_for('static', filename='img/listening.png') }}">
					<a class="album-container" href="{{ nowPlaying.url }}" target="_blank">
					{% for img in nowPlaying.image %}
						{% if img.size == "medium" %}
							{% if img["#text"] != "" %}
								<img class="album" src="{{ img['#text'] }}">
							{% else %}
								<img class="unknown-album" src="{{ url_for('static', filename='img/album.png') }}">
							{% endif %}
						{% endif %}
					{% endfor %}
					</a>
					<div class="info">
						<span class="track artist" data-artist="{{ nowPlaying["artist"]["#text"] }}" data-track="{{ nowPlaying.name }}">{{ nowPlaying["artist"]["#text"] }} - {{ nowPlaying.name }}</span>
						{% if nowPlaying.album["#text"] %}
							<span class="album"><br> {{ nowPlaying.album["#text"] }}</span>
						{% endif %}
					</div>
				</div>
			</li>
		{% endif %}

		{% for activity in activities %}
			{% if activity._type == "lastfm" and activity["@attr"] is not defined %}
			<li>
				<img class="icon col-xs-6 .col-md-4" src="{{ url_for('static', filename='img/lastfm.png') }}">
				<div class="info col-xs-8 .col-md-6 lastfm">
					<a class="album-container" href="{{ activity.url }}" target="_blank">
					{% for img in activity.image %}
						{% if img.size == "medium" %}
							{% if img["#text"] != "" %}
								<img class="album" src="{{ img['#text'] }}">
							{% else %}
								<img class="unknown-album" src="{{ url_for('static', filename='img/album.png') }}">
							{% endif %}
						{% endif %}
					{% endfor %}
					</a>
					<div class="info">
						<span class="track artist" data-artist="{{ activity["artist"]["#text"] }}" data-track="{{ activity.name }}">{{ activity["artist"]["#text"] }} - {{ activity.name }}</span>
						{% if activity.album["#text"] %}
							<span class="album"><br> {{ activity.album["#text"] }}</span>
						{% endif %}
						<span class="timestamp"> {{ activity.elapsed }}</span>
					</div>
				</div>
			</li>
			{% endif %}

			{% if activity._type == "github" %}
				{% if activity.type == "PushEvent" %}
				<li>
					<img class="icon col-xs-6 .col-md-4" src="{{ url_for('static', filename='img/github.png') }}">
					<div class="info col-xs-8 .col-md-6 github">
						<a href="{{ activity.actor.url|replace("api.","")|replace("users/","") }}" target="_blank">
							{{ activity.actor.login }}
						</a>
						pushed to {{ activity.payload.ref|replace("refs/heads/","") }} at
						<a href="{{ activity.repo.url|replace("api.","")|replace("repos/","") }}" target="_blank">
							{{ activity.repo.name }}
						</a>
						<div class="commits">
							{% for commit in activity.payload.commits %}
							<div class="individual">
								{% if activity.org %}
									<img class="small" src="{{ activity.org.avatar_url }}">
								{% else %}
									<img class="small" src="{{ activity.actor.avatar_url }}">
								{% endif %}
								<a href="{{ commit.url|replace("api.","")|replace("repos","") }}" target="_blank">{{ commit.sha|truncate(7, true,"") }}</a>
								{{ commit.message }}
							</div>
							{% endfor %}
						</div>
						<span class="timestamp"> {{ activity.time_string }}</span>
					</div>
				</li>
				{% endif %}
			{% endif %}

		{% endfor %}


	</ul>
</main>
