<div class="splash">
    <img class="circle me" src="{{ url_for('static', filename='img/kjg.jpg') }}">
    <div class="bubbles">
        <a class="circle facebook" href="https://www.facebook.com/khaliqgant" target="_blank">
            <img class="overlay" src="{{ url_for('static', filename='img/fb.jpg') }}">
            <span class="text">Facebook</span>
        </a>
        <a class="circle tumblr" href="http://blog.khaliqgant.com/" target="_blank">
            <img class="overlay" src="{{ url_for('static', filename='img/tumblr.jpg') }}">
            <span class="text">Tumblr</span>
        </a>
        <a class="circle instagram" href="https://instagram.com/khaliqgant/" target="_blank">
            <img class="overlay" src="{{ url_for('static', filename='img/instagram.jpg') }}">
            <span class="text">Instagram</span>
        </a>
        <a class="circle soundcloud" href="https://soundcloud.com/khaliqgant" target="_blank">
            <img class="overlay" src="{{ url_for('static', filename='img/soundcloud.jpg') }}">
            <span class="text">Soundcloud</span>
        </a>
    </div>
</div>

