@import "settings";

header {
    p {
        font-size: 18px;
    }
    a {
        color:blue;
    }
}

nav.navbar.navbar-default.top-header {
    background-color: $blue;
    color: white;
    .container {
        width:100%;
    }
    h1 {
        font-size: 32px;
        font-weight : lighter;
        letter-spacing: 3.0px;
        margin-top:10px;
        display: inline-block;
        @media only screen and (max-width: $mobile-breakpoint) {
            font-size:20px;
        }
        a {
            color:white;
            &:hover {
                text-decoration:none;
                color:#bbc7d3;
            }
        }
    }
    ul.left-nav {
        float:right;
        li {
            display:inline-block;
            padding: 0 6px;
            margin-top:12px;
            &.mobile {
                display: none;
            }
            @media only screen and (max-width: $mobile-breakpoint) {
                display:none;
                &.mobile {
                    margin:0;
                    padding:0;
                    display:inline-block;
                    a {
                        position: relative;
                        top:5px;
                    }
                    img {
                        width:50px;
                        &.circle {
                            border-radius: 40px;
                        }
                    }
                }
            }
            img {
                width:40px;
            }
        }
    }
}

.nav-toggle{
  position: relative;
  display: inline-block;
  width: 37px;
  height: 25px;
  float: left;
  top: 10px;
}

.nav-toggle:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: lightblue;
  box-shadow: 
    0 0.25em 0 0 lightblue,
    0 0.5em 0 0 lightblue;
}

.container {
    .nav-collapse.mobile-nav {
        top: 8px;
        left: -25px;
        display: none;
        margin-bottom: 0;
        li a {
            color: white;
        }
        @media only screen and (max-width: $header-breakpoint) {
            display:block;
        }
    }
}
