@import "settings";

ul {
    list-style-type: none;
}

.mobile {
    display:none;
}
@media only screen and (max-width: $mobile-breakpoint) {
    .mobile {
        display:block;
    }
}


main {
    padding-top:260px;
    @media only screen and (max-width: $mobile-breakpoint) {
        padding-top:0px;
    }
    @media only screen and (min-width: $bubble-breakpoint) {
        width: 980px;
        margin: 0 auto;
    }
    h1 {
        font-size:24px;
        text-align:center;
        padding-top: 25px;
    }
    h2 {
        font-size: 18px;
        &.projects {
            margin-bottom:5px;
        }
    }
    .title {
        padding-left:52px;
        &.mobile {
            padding-top: 25px;
        }
        h1 {
            text-align: left;
        }
    }
    .no-link-color {
        color: black;
        &:hover {
            text-decoration:none;
        }
    }

    .complete {
        text-decoration: line-through;
    }
    .no-hover-color {
        &:hover {
            text-decoration:none;
        }
    }

    .intro-blurb {
        font-size: 14px;
        padding-left: 18px;
    }

    ul.overview-bar {
        display: none;
        @media only screen and (min-width: $bubble-breakpoint) {
            display:block;
        }
        background-color: black;
        width: 865px;
        height: 40px;
        margin: 0 auto;
        color: white;
        li {
            display: inline-block;
            padding-right: 125px;
            padding-left: 50px;
            width: 10%;
            padding-top:8px;
            &.active a {
                color: $blue;
            }
            a {
                color: white;
                &:hover {
                    color: antiquewhite;
                    text-decoration:none;
                }
            }
            &:first-child {
                margin-left: -50px;
            }
            &:last-child {
                padding-right: 0px;
            }
        }
    }

    .technologies {
        img {
            padding-right: 10px;
        }
    }

    .feature-image {
        display: block;
        padding: 10px 0;
    }

    .activities {
        .api-integrations {
            .icon {
                cursor: pointer;
            }
            .icon--circle {
                width: 35px;
                padding-top: 7px;
                border-radius: 10px;
            }
        }
    }

    .activities, .dashboard {
        margin: 0 auto;
        width: 100%;
        padding-top: 20px;
        display: inline-block;
        position: relative;
        padding-bottom: 50px;
        &.activities--intro {
            padding-bottom: 20px;
        }

        .icon {
            width: 65px;
            padding-top: 7px;
        }
            .icon--reduced {
                width: 25px;
            }
            .icon--left-small {
                width: 45px;
                left: 10px;
            }
            .icon--circle {
                padding: 0;
                border-radius: 25px;
            }
        li {
            clear: both;
            padding-top: 20px;
            display: block;
        }
        .timestamp {
            position: relative;
            color: grey;
            font-size: 11px;
        }

        .lastfm {
            bottom: 5px;
            .unknown-album {
                width: 54px;
            }
            .live {
                position: absolute;
                width: 13px;
                left: -84px;
                top: 20px;
            }
            .album-container {
                display: inline-block;
            }
            .info {
                display: inline-block;
                padding-top: 6px;
                left: 10px;
                position: relative;
            }
        }
        .github {
            .small {
                width: 15px;
            }
            .commits {
                clear:float;
            }
        }

        .foursquare {
            padding-left: 31px;
            .left-icon {
                display: inline-block;
                background-color: #C4C3BC;
                border-radius: 25px;
            }
            .venue {
                width: 25px;
            }
        }
    }
}
