@import "settings";

ul {
    list-style-type: none;
}

.mobile {
    display:none;
}

.splash {
    padding-top:85px;
    margin:0 auto;
    width:900px;
    .me {
        @media only screen and (max-width: $mobile-breakpoint) {
            display:none;
        }
        &.circle {
            border-radius:250px;
        }
        width:250px;
        position:absolute;
        left:50%;
        margin-left:-185px;
    }
    .bubbles {
        a {
            display: block;
            position: absolute;
            color: white;
            width: 100px;
            height: 100px;
            border-radius: 100px;
            text-align: center;
            overflow: hidden;
            .text {
                top: 35px;
                position: relative;
            }
            .overlay {
                display:none;
                position:absolute;
                opacity: .5;
                width: 100%;
            }
            &:hover {
                text-decoration: none;
                .overlay {
                    display:block;
                }
            }
        }
        .facebook {
            background-color: #B00000;
            left: 182px;
            top: 68px;
        }
        .tumblr {
            background-color: #2B37FF;
            left: 156px;
            top: 225px;

        }
        .instagram {
            background-color: #125688;
            right: 287px;
            top: 68px;

        }
        .soundcloud {
            background-color: #FF6400;
            right: 295px;
            top: 267px;
        }
    }
}

main {
    padding-top:260px;
    @media only screen and (max-width: $mobile-breakpoint) {
        padding-top:100px;
    }
    h1 {
        font-size:24px;
        text-align:center;
    }
}
