@import "settings";

.splash {
    padding-top:85px;
    margin:0 auto;
    width:900px;
    height: 125px;
    .me {
        @media only screen and (max-width: $mobile-breakpoint) {
            display:none;
        }
        &.circle {
            border-radius:250px;
        }
        width:250px;
        position:absolute;
        left:50%;
        margin-left:-185px;
    }
    .bubbles {
        display:none;
        @media only screen and (min-width: $bubble-breakpoint) {
            display:block;
            position:relative;
            hr {
                color: $blue;
                position: absolute;
                width: 250px;
                border: 1px solid;
                opacity: .7;
                &.facebook {
                    transform: rotate(27deg);
                    top: 62px;
                    left: 102px;
                }
                &.tumblr {
                    transform: rotate(168deg);
                    width:238px;
                    top: 160px;
                    left: 101px;
                }
                &.instagram {
                    transform: rotate(335deg);
                    width:225px;
                    top: 55px;
                    right: 200px;
                }
                &.soundcloud {
                    transform: rotate(20deg);
                    width: 139px;
                    right: 273px;
                }
            }
            a {
                display: block;
                position: absolute;
                color: white;
                width: 100px;
                height: 100px;
                border-radius: 100px;
                text-align: center;
                overflow: hidden;
                .text {
                    top: 35px;
                    position: relative;
                    font-size: 15px;
                }
                .overlay {
                    display:none;
                    position:absolute;
                    opacity: .5;
                    width: 100%;
                }
                &:hover {
                    text-decoration: none;
                    .overlay {
                        display:block;
                    }
                }
            }
            .facebook {
                background-color: #B00000;
                top: -13px;
                left: 60px;
            }
            .tumblr {
                background-color: #2B37FF;
                left: 35px;
                top: 144px;

            }
            .instagram {
                background-color: #125688;
                right: 162px;
                top: -13px;

            }
            .soundcloud {
                background-color: #FF6400;
                right: 190px;
                top: 180px;
            }
        }
    } // end bubble breakpoint media query
} // end bubbles selector

